.todo-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  box-shadow: 0 0 0 1px #757575, 0 0 0 4px grey, 0 0 0 1px grey inset;
  padding: 2px 10px;
}

@import url('./styles/to-do-item.css');
@import url('./styles/todo_title.css');
@import url('./styles/to-do__checkbox.css');
@import url('./styles/to-do__discription.css');
@import url('./styles/to-do__discription_finished.css');
@import url('./styles/to-do__delete.css');
@import url('./styles/todo_item-task.css');
@import url('./styles/to-do__delete-all.css');
@import url('./styles/to-do__form.css');
@import url('./styles/to-do__add-area.css');
@import url('./styles/to-do__add.css');
