.to-do-widget__delete-all {
  font-size: 28px;
  color: #757575;
  margin: 10px 0 10px 0;
  align-self: center;
  width: 30%;

  border: none;
  background-color: transparent;
}

.to-do-widget__delete-all:hover {
  cursor: pointer;
  opacity: 0.7;
}
