.configure_container {
  display: grid;
  grid-template-columns: 465px 620px 520px;
  column-gap: 50px;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 30px;
  width: 100%;
  min-height: 500px;
  justify-content: center;
}
