.watch-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  box-shadow: 0 0 0 1px #757575, 0 0 0 4px grey, 0 0 0 1px grey inset;
  padding: 2px 10px;
}

@import url('./styles/watch-widget_bar.css');
@import url('./styles/watch-widget__btn.css');
@import url('./styles/watch-widget__btn_active.css');
@import url('./styles/watch-widget__watch.css');
