.main_button {
  margin: 0;
  font-size: 48px;
  padding: 7px;
  background-color: white;
  color: #757575;
  border: none;
  box-shadow: 0 0 0 1px #757575, /* внешняя тень */ 0 0 0 4px grey,
    /* внутренняя тень (фоновая) */ 0 0 0 1px grey inset; /* внутренняя тень (объем) */
}

.main_button:hover {
  cursor: pointer;
  opacity: 0.8;
}
